<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type; content=text/html charset=utf-8">
    <title>$Первая HTML страница$</title>
    <link rel="stylesheet" href="/static/style/checkCat.css"/>
    <script src="/static/js/checkJs.js"></script>
</head>
<body style=height:100%;width:100%>
<header th:insert="blocks/blockss :: header"></header>
<button class=addcat>Просмотр кота</button>
<div class=midl>
    <div class="form">

        <form id="form1" method="post" th:action="@{/edit/record/}" onsubmit="if(check()==false)return false"
              th:object="${catsForm}">
            <div th:each="el:${listcat}">
                <div class="form_grup">
                    <label class="form_label">Имя кота</label>
                    <input id="idcat" class="form_input" type="hidden" th:value="${el.id}"/>
                    <input id="nameCat" class="form_input" th:value="${el.name}"/>
                </div>
                <div class="form_grup">
                    <label class="form_label">ID отца</label>
                    <input id="idDad" type="number" class="form_input" th:value="${el.dad.getId()}"/>
                </div>
                <div class="form_grup">
                    <label class="form_label">ID матери</label>
                    <input id="idMam" type="number" class="form_input" th:value="${el.mam.getId()}"/>
                </div>
                <input type="hidden" name="gender1" id="gender" th:value="${el.gender}"/>
                <div class="form_grup" style="height: 10px">
                    <label class="form_label">Author:[[${el.authorName}]]</label>
                    <input type="hidden" class="form_input"/>
                </div>
            </div>
            <button class="form_button" type="submit" onclick="x1()">
                Записать кота
            </button>
            <input type="hidden" name="id_cat" th:field="*{id}" id="id"/>
            <input type="hidden" name="name_cat" th:field="*{name}" id="name"/>
            <input type="hidden" name="id_dad" th:field="*{dad}" id="idad"/>
            <input type="hidden" name="id_mam" th:field="*{mam}" id="imam"/>
        </form>

        <form method="get" th:action="@{/chekCat/remove}" onsubmit="if(check()==false)return false"
              th:object="${catsForm}">
            <button class="form_button" onclick="x1()" style="margin-top:0px;width:157.59px">Удалить кота</button>
            <input type="hidden" id="delete" name="delete" th:field="*{id}">
        </form>
        <div>
        </div>
    </div>
</div>
</body>
</html>
